.container .chart-container .back {
    stroke: #dfdfdf;
    stroke-width: 20;
  }
  
  .container .chart-container .front {
    stroke: #bf5700;
    stroke-width: 20;
    stroke-dasharray: 234;
    transform: rotate(-90deg);
    transform-origin: center;
  }
  
  .container .chart-container .text {
    font-size: 32px;
    fill: #bf5700;
  }

  .chart-container {
    /* background-color: red; */
    display: flex;
    place-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container {
    display: grid;
    place-items: center;
    /* justify-content: center; */
    min-height: 10vh;
    min-width: 100vh;
    /* align-items: center; */
  }

  .parent_popup {
    display: flex;
    align-items: center;
    justify-content: center;
  }